vendor/composer/LICENSE
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/platform_check.php
vendor/phpmailer/phpmailer/
.ENV
vendor/vlucas/phpdotenv/
vendor/symfony/polyfill-php80/
vendor/symfony/polyfill-mbstring/
vendor/symfony/polyfill-ctype/
vendor/phpoption/phpoption/
vendor/graham-campbell/result-type/
vendor/composer/autoload_files.php
