
@font-face {
    font-family: 'FuenteStyle';
    src: url('../style/font/MervaleScript-Regular.otf') format('truetype');
    font-weight: 100;
}
*{
    user-select: none;

}
body{
    position: relative;
    background-color: #4E4E4E;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 10% 85%;
    color: #FAF3E0;
}
.header{
    display: grid;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding: 2%;
    grid-template-columns: 70% 30%;
    justify-content: center;
    margin: auto;
}

.section__titleContainer h2{
    color: #FAF3E0;
    background-color: #78806C;
    padding: 2%;
    border-radius: 0.8vw;
    box-shadow: 0 0 0.5vw #FAF3E0;
}

.section--articleProfile img{
    width: 5vw;
    height: 5vw;
}

.main{
    display: grid;
    box-sizing: content-box;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    height: 100%;
    transition: all 0.2s;
}

.main__aside{
    left: -30%;
    height: 100%;
    top: 0%;
    position: absolute;
    background-color: #78806C;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.2fr;
    border-right: 0.5vw solid #6D765D;
    transition: all 0.4s;
    width: 30%;
    z-index: 120;

}

.asideLeft{
    left: 0%;
}
.aside--end{
    left: -50%;
}

.mainS{
    grid-template-rows: 50%;
}

.aside--title{
    font-family: "FuenteStyle";
    font-size: clamp(0.2rem, 5vw, 16rem);
    background-color: #A3B18A;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
    display: grid;
    place-items: center;
    font-weight: 100;
    color: #FAF3E0;
}

.aside--nav{
    display: grid;
    padding: 5%;
    font-size: clamp(0.2rem, 2vw, 10rem);
    justify-items: center;
}
.aside--nav a{
    text-decoration: none;
    height: fit-content;
    width: fit-content;
    transition: all 0.3s;
    color: #FAF3E0;

}

.aside--nav a:hover{
    transform: scale(1.1,1.1);
}

.aside--btnC{
    transition: all 0.3s;
    background-color: #4E4E4E;
    color: #FAF3E0;
    border: none;
    width: 80%;
    height: 80%;
    justify-self: center;
    border-radius: 0.2vw;
    font-size: clamp(0.2rem, 1.5vw, 8rem);
    cursor: pointer;
}

.aside--btnC:hover{
    transform: scale(1.1,1.1);
}

.main__section{
    padding: 2%;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 6vw auto 80%;
    place-content: center;
    justify-content: center;
    gap: 1%;
    grid-template-columns: 80%;
}

.articleProfile--linkProfile{
    width: fit-content;
    height: 100%;
    display: flex;
    text-decoration: none;
    max-width: 50vw;
    width: fit-content;
    gap: 1vw;

}

.articleProfile--linkProfile img{
    border-radius: 100%;
}

.arrow--cont{
    position:fixed;
    top: 40%;
    background-color: #FAF3E0;
    width: 50%;
    height: 4vw;
    left: -48%;
    padding: 2%;
    border-radius: 0.5vw;
    border-end-start-radius: 0;
    border-start-start-radius: 0;
    display: grid;
    place-content: center;
    justify-content: end;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 0;
}
.arrow--move{
    left: -18%;
}

.arrow{
    width: 2vw;
}
.articleProfile--linkProfile h2{
    white-space: nowrap;
    flex: 1;
    box-sizing: border-box;
    width: fit-content;
    text-overflow: ellipsis; 
    overflow: hidden;
    height: fit-content;
    color: #FAF3E0;
    font-size: clamp(0.1rem ,2vw, 5rem);
    
}

.section--filterCont{
    display: flex;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    padding: 1%;
    gap: 2%;
    box-sizing: border-box;
    justify-content: center;
}

.section--filterCont input{
    background-color: #A3B18A;
    border-radius: 0.3vw;
    padding: 1vw;
    box-sizing: border-box;
    width: 100%;
    border: none;
    height: 100%;
    color: #FFFFFF;
    box-shadow: 0 0 0.5vw #000;
    font-size: clamp(0.3rem, 1.8vw, 15rem);
    transition: all 0.2s;
    outline: none;
}

.ruleta--form{
    display: flex;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    padding: 1%;
    gap: 2%;
    box-sizing: border-box;
    justify-content: center;
}



.section--filterCont input::placeholder{
    color: #FFFFFF;
}

.section--filterCont input:hover{
    transform: scale(1.02,1.02);
}
.section--hr{
    border: none;
    height: 0.2vw;
    border-radius: 2vw;
    transform: rotate(180deg); 
    width: 100%;
    background-color: #A3B18A;
}

.section--articleRec{
    overflow-y: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.errorRecipe{ 
    color: #c3d4a5;
    text-align: center;
    font-size: clamp(0.2rem, 4vw, 3rem);
}

.recipeContainer{
    height: 100%;
    width: 95%;
    padding: 1.5%;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    flex-wrap: wrap; 
    gap: 1%;
}
.recipe {
    list-style: none;
    border-radius: 0.2vw;
    background-color: #6D765D;
    flex: calc(20.333% - 1%);
    padding: 0.5%;
    height: 100%;
    width: 100%;
    max-width: 20vw;
    box-sizing: border-box;
    max-height: 20vw;
    transition: all 0.3s ease
}
.recipe:hover{
    transform: scale(1.05, 1.05) translateY(-0.5vw);
 
    background-color: #000000bd;
    
}

.recipe a{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60% 30% 10%;
    text-decoration: none;
    box-sizing: border-box;
}
.recipe header{
    margin: 0;
    width: 100%;
    padding: 0.5%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #FAF3E0;
    border-radius: 0.2vw;
}
.recipe header img{
    border-radius: 0.2vw;
    width: 100%;
    height: 100%;
}
.recipe main{
    height: 100%;
    display: grid;
    padding: 1%;
    text-align: center;
    grid-template-rows: 40% 60%;
}
.recipe main h3{
    display: grid;
    place-items: center;
    font-size: clamp(0.2rem, 2vw, 7rem);
    color: #FAF3E0;
    margin: 0;
}

.recipe main p{
    display: grid;
    text-align: left;
    padding: 1%;
    line-height: 1.6;
    font-size: clamp(0.2rem, 1.2vw, 7rem);
    color: #FAF3E0;
    margin: 0;
}

.recipe footer{
    display: grid;
    place-items: end;
    justify-content: start;
    pad: 2%;
    color: #c3d4a5;
    font-family: 'FuenteStyle';
    font-size: clamp(0.2rem, 1.5vw, 7rem);
}


@keyframes vaiven {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(0.05vw); } /* sube 5px */
  100% { transform: translateY(0); }
}

.ingredientesCont{
    width: 100%;
    height: 100%;
    position: relative;

}
.ingredientesCont button{
    position: absolute;
    top: -50%;
    left:80%;
    width: 15%;
    height: 100%;
    padding: 5%;
    display: grid;
    border: none;
    place-items: center;
    justify-content: center;
    place-content: center;
    border-radius: 0.5vw;
    box-sizing: border-box;
    transition: all 0.2s;
}
.ingredientesCont button:hover{
    transform: scale(1.1, 1.1);
    cursor: pointer;
}
.ingredienteContainer{
    position: absolute;
    width: 25vw;
    height: 20vw;
    padding-top: 10%;
    /* clip-path: polygon(11% 2vw, 21% 15%, 100% 15%, 100% 100%, 0 100%, 0 17%); */
    display: none;
    place-content: center;
    grid-template-columns: 1fr;
    top: 60%;
    z-index: 0;
}

#ingredientesList{
    overflow-y: auto;
}
.ingredienteContainer::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #78806C;

  z-index: -1;
  border-radius: 0.5vw;
  clip-path: polygon(11% 2vw, 21% 15%, 100% 15%, 100% 100%, 0 100%, 0 17%);

}
#formFilter{
    position: relative;
    z-index: 1;
}

.ingredienteContainer{
    display: grid;

    grid-template-rows: 1fr;
}