
@font-face {
    font-family: 'FuenteStyle';
    src: url('../style/font/MervaleScript-Regular.otf') format('truetype');
    font-weight: 100;
    
}
*{
    user-select: none;

}
body{
    
    position: relative;
    background-color: #4E4E4E;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 12% 85%;
    color: #FAF3E0;
}





/* header */
.header{
    display: grid;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding: 1%;
    grid-template-columns: 70% 30%;
    justify-content: center;
    margin: auto;
}

.section--articleProfile{
    position: relative;
    display: grid;
    place-content: center;
    grid-template-columns: 10% auto;
    justify-content: start;
    grid-template-rows: 100%;
}

.section__titleContainer h2{
    color: #FAF3E0;
    background-color: #78806C;
    padding: 2%;
    border-radius: 0.8vw;
    box-shadow: 0 0 0.5vw #FAF3E0;
    transition: all 0.3s;
}
.section__titleContainer h2:hover{
    box-shadow: 0 0 1vw #FAF3E0;
}

.section--articleProfile img{
    width: 6vw;
    height: 6vw;
}
#nameUser{

    font-size: clamp(0.2rem, 3vw, 10rem);;
    transition: all 0.3s;
    height: 100%;
    position: relative;
    display: grid;
    place-items: center;
    margin: 0;
}
#nameUser:hover{
    color: #c3d4a5;
}
#nameUser::after {
    content: "";
    position: absolute;
    width: 0%;
    top: 80%;
    height: 0.2vw;
    border-radius: 0.5vw;
    background-color: #c3d4a5;
    transition: all 0.3s ease;
}

#nameUser:hover::after{
    width: 100%;
}


/* main */

.main{
    display: grid;
    box-sizing: content-box;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    height: 100%;
    transition: all 0.2s;
}

.main__aside{
    left: -28%;
    height: 100%;
    top: 0%;
    position: absolute;
    background-color: #78806C;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.2fr;
    border-right: 0.5vw solid #6D765D;
    place-items: center;
    transition: all 0.5s;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 1fr;
    width: 28%;
    padding-top: 2%;
    box-sizing: border-box;
    padding-bottom: 2%;
    z-index: 120;

}

.asideLeft{
    left: 0%;
}
.aside--end{
    left: -50%;
}

.mainS{
    grid-template-rows: 50%;
}

.aside--title{
    font-family: "FuenteStyle";
    font-size: clamp(0.2rem, 8vw, 16rem);
    padding: 1%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-weight: 100;
    color: #FAF3E0;
}

.aside--nav{
    display: grid;
    padding: 2%;
    font-size: clamp(0.2rem, 2vw, 10rem);
    justify-items: left;
    width: 80%;
    box-sizing: border-box;
    height: 80%;
    place-items: center;
    box-sizing: border-box;
    
}
.aside--nav a{
    text-decoration: none;
    text-align: center;
    height: fit-content;
    width: fit-content;
    background-color: #FAF3E0;
    transition: all 0.3s;
    color: #6D765D;
    border-radius: 0.5vw;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
}

.aside--nav a:hover{
    transform: scale(1.05,1.05);

}
.aside--nav a:active{
    transform: scale(0.95,0.95);

}
.aside--btnC{
    transition: all 0.3s;
    background-color: #4E4E4E;
    color: #FAF3E0;
    border: none;
    width: 80%;
    height: 60%;
    justify-self: center;
    border-radius: 0.4vw;
    font-size: clamp(0.2rem, 2.5vw, 8rem);
    cursor: pointer;
}

.aside--btnC:hover{
    transform: scale(1.05,1.05);
}
.aside--btnC:active{
    transform: scale(0.95,0.95);
}
.main__section{
    padding: 2%;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 6vw auto 80%;
    place-content: center;
    justify-content: center;

    gap: 1%;
    grid-template-columns: 80%;
}

.articleProfile--linkProfile{
    width: fit-content;
    height: 100%;
    display: flex;
    text-decoration: none;
    max-width: 50vw;
    width: fit-content;
    gap: 1vw;

}

.articleProfile--linkProfile img{
    border-radius: 100%;
}

.arrow--cont{
    position: absolute;
    top: 40%;
    background-color: #FAF3E0;
    width: 15%;
    height: 10%;
    left: 100%;    
    padding: 2%;
    border-radius: 0.5vw;
    border-end-start-radius: 0;
    border-start-start-radius: 0;
    display: grid;
    place-content: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 100;
}

.arrow{
    width: 2vw;
}
.articleProfile--linkProfile h2{
    white-space: nowrap;
    flex: 1;
    box-sizing: border-box;
    width: fit-content;
    text-overflow: ellipsis; 
    overflow: hidden;
    height: fit-content;
    color: #FAF3E0;
    font-size: clamp(0.1rem ,2vw, 5rem);
    
}

.section--filterCont{
    display: flex;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    padding: 1%;
    gap: 2%;
    box-sizing: border-box;
}
.section--filterCont form{
    height: 100%;
    width: 100%;
}
.section--filterCont input{
    background-color: #A3B18A;
    border-radius: 0.3vw;
    padding: 1vw;
    box-sizing: border-box;
    width: 100%;
    border: none;
    height: 100%;
    color: #FFFFFF;
    box-shadow: 0 0 0.5vw #000;
    font-size: clamp(0.3rem, 1.8vw, 15rem);
    transition: all 0.2s;
    outline: none;
}

.ruleta--form{
    display: flex;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    padding: 1%;
    gap: 2%;
    box-sizing: border-box;
    justify-content: center;
}



.section--filterCont input::placeholder{
    color: #FFFFFF;
}
.section--filterCont input:hover{
    cursor: pointer;
    background-color: #1a1a1a9c;
}
.section--filterCont input:focus{
    color: #c6f377;
    background-color: #1a1a1a9c;
}

.section--hr{
    border: none;
    height: 0.2vw;
    border-radius: 2vw;
    transform: rotate(180deg); 
    width: 100%;
    background-color: #A3B18A;
}

.section--articleRec{
    overflow-y: auto;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    padding-top: 1.5vw;
    height: 100%;
}

.errorRecipe{ 
    color: #c3d4a5;
    text-align: center;
    font-size: clamp(0.2rem, 4vw, 3rem);
}

@keyframes vaiven {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(0.05vw); } /* sube 5px */
  100% { transform: translateY(0); }
}

.ingredientesCont{
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
}
.ingredientesCont input{
    width: 100%;
    height: 100%;
}
.ingredientesCont button img{
    width: 2vw;
}

.btnContainer{
    position: absolute;
    left: 68%;
    top: 0%;
    display: grid;

    width: 31%;
    height: 100%;
    gap: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80%;
    place-content: center;
    
}

.ingredientesCont button{
    background-color: #78806C;
}
.ingredientesCont button:first-child{
    padding: 2%;
    display: grid;
    border: none;
    place-items: center;
    justify-content: center;
    place-content: center;
    border-radius: 0.5vw;
    z-index: 100;
    box-sizing: border-box;
    transition: all 0.2s;
}

.ingredientesCont button:nth-child(2){
    padding: 2%;
    display: grid;
    border: none;
    place-items: center;
    justify-content: center;
    place-content: center;
    border-radius: 0.5vw;
    z-index: 100;
    box-sizing: border-box;
    transition: all 0.2s;
}
.ingredientesCont button:nth-child(3){
    padding: 2%;
    display: grid;
    border: none;
    place-items: center;
    justify-content: center;
    place-content: center;
    border-radius: 0.5vw;
    z-index: 100;
    box-sizing: border-box;
    transition: all 0.2s;
}
.ingredientesCont button:hover{
    background-color: #c6f377;
    cursor: pointer;
}
.ingredienteContainer{
    position: absolute;
    width: 22vw;
    height: fit-content;
    max-height: 20vw;
    display: none; 
    padding: 2%;
    background-color: #1a1a1a;
    top: 100%;
    left: 0;
    border-radius: 0.5vw;
    z-index: 0;
}

#ingredientesList{
    padding: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: auto;
    box-sizing: border-box;
    display: grid;
    gap: 0.2rem;
    
}
#ingredientesList li{
    width: 90%;
    height: 90%;
    padding: 5%;
    display: grid;
    max-height: 2vw;
    grid-template-columns: 90% 15%;
    place-content: center;
    background-color: #6D765D;
    border-radius: 0.5vw;
    
}
#ingredientesList li div{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
#ingredientesList li div img{
    width: 3vw;
    height: 3vw;
}
#formFilter{
    position: relative;
    z-index: 1;
}

.ingredienteContainer{
    display: grid;
    grid-template-rows: 1fr;
}



#ingredientesList::-webkit-scrollbar {
  width: 0.5vw; 
  height: 2vw; 
}

#main__asingredientesListide::-webkit-scrollbar-track {
  background: #1a1a1a;
  width: 0.5vw;
  border-radius: 0.5vw;
}

#ingredientesList::-webkit-scrollbar-thumb {
  background-color: #A3B18A;
  border-radius: 2vw;
  border: 0.2vw solid #1a1a1a;
}


#ingredientesList::-webkit-scrollbar-thumb:hover {
  background-color: #c6f377;
}

#ingredientesList::-webkit-scrollbar {
  width: 0.8vw;
}