@font-face {
    font-family: 'FuenteStyle';
    src: url('../style/font/MervaleScript-Regular.otf') format('truetype');
    font-weight: 100;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4E4E4E;
    display: grid;
    grid-template-rows: 10% auto;
    height: 100%;
    position: relative;
    width: 100%;
    gap: 1vw;
}

.header{
    display: grid;
    grid-template-columns: 100%;
}
.header__img{
    z-index: 100;
}

.form__title{
    
    border-radius: 0.5vw;
    padding: 0.5vw;
    box-sizing: border-box;
    width: 70%;
    background-color: #FAF3E0;
    position: absolute;
    margin: 0;
    left: 15%;
    top: -4vw;
    text-align: center;
    font-family: "FuenteStyle";
    font-size: clamp(0.5rem, 6vw, 25rem);
    font-weight: 100;

}


.main{
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}
.main__section{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    gap: 1vw;
    height: 100%;
    position: relative;
}

.section__containerForm{
    width: 100%;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    place-items: center;
    gap: 1vw;
}

.formCreate{
    
    flex: 1;
    position: relative;
    width: 60%;
    box-sizing: border-box;
    max-width: 40vw;
    background-color: #A6A6A6;
    height: 100%;
    border-radius: 0.5vw;
    display: grid;
    gap: 3vw;
    grid-template-columns: 1fr;
    grid-template-rows: 5vw auto 5vw auto auto 5vw;
    padding: 3%;
    padding-top: 10%;
    padding-bottom: 3%;
    place-content: center;
    transition: all 0.4s;
    
}

.label_input::placeholder{
    color: #FFFFFF;
}
.label__title{
    background-color: #FAF3E0;
    position: absolute;
    padding: 0.6vw;
    z-index: 2;
    margin: 0;
    top: -15%;
    left: 0%;
    border-radius: 0.2vw;
    font-size: clamp(0.1rem, 1vw, 5rem);
    transition: all 0.2s;
}

.form__label{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 80%;
    place-content: center;
    grid-template-columns: 90%;
    height: 100%;
    
}

.label_input:hover {
    transform: scale(1.02);
    background-color: #333333;
}
.label_input:focus{
    transform: scale(1.02);
    color: #c6f377;
    background-color: #333333;
}
.nameLabel{
       padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 80%;
    place-content: center;
    grid-template-columns: 100%;
    height: 100%;
}
.nameLabel input{
    background-color: #4E4E4E;
    color: #fff;
    border: none;
    justify-self: center;
    
    border-radius: 0.3vw;
    width: 95%;
    padding-left: 2vw;
    box-sizing: border-box;
}
.nameLabel p{
    background-color: #FAF3E0;
    position: absolute;
    padding: 1vw;
    top: -2vw;
    border-radius: 0.2vw;
}

input, button{
    cursor: pointer;
    transition: all 0.2s;
}

.form_button{
    width: 100%;
    margin: auto;
    height: 100%;
    display: block;
    border-radius: 0.5vw;
    border: none;
    cursor: pointer;
    font-size: clamp(0.2rem, 2vw, 8rem);
    background-color: #FAF3E0;
    transition: all 0.2s;
}


.form_button:hover{
    transform: scale(1.02);
    background-color: #333333d2;
    
    color: #FFFFFF;
}

.form_button:active{
    transform: scale(0.95);
    background-color: #333333;
    
    color: #FFFFFF;
}
.ingLabel{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 95%;
    background-color: #4E4E4E;
    height: 100%;
    margin: auto;
    border-radius: 0.2vw;

}
.ingLabel .ingredienteT{
    background-color: #FAF3E0;
    position: absolute;
    z-index: 100;
    top: -2vw;
    left: -2.8%;
    padding: 1vw;
    border-radius: 0.3vw;
    
}
.ingLabel .buttonAdd{
    top: -2vw;
    left: 93%;
    background-color: #FAF3E0;
    position: absolute;
    padding: 0.5vw 1vw;
    border: none;
    width: fit-content;
    border-radius: 0.3vw;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    transition: all 0.2s;
}

.buttonAdd:hover{
    transform: scale(1.1,1.1);
}


.ingLabel input{
    height: 100%;
    width: 95%;
    color: #FAF3E0;
    background-color: #4E4E4E;
}

#ingredienteslist{

    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 2vw;
    padding: 1vw;
    gap: 1vw; 
}

#ingredienteslist li{
    
    width: 100%;
    height: 8vw;
    position: relative;
    background-color: #929292;
    padding: 0.5vw;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    gap: 5%;
    grid-template-columns: 9% 20% 60% ;
    grid-template-rows: 1fr 1fr;
   
}

#ingredienteslist li input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.2vw;
    background-color: #FAF3E0;
    color: #000000;
    padding: 2%;
    max-height: 4vw;
    font-size: clamp(1rem, 1.5vw, 2rem);
    grid-column-start: 2;
    grid-column-end: 4;
}
#ingredienteslist li p:first-child{
    grid-row-start: 1;
    grid-row-end: 3;
}


#ingredienteslist li input:nth-child(3){
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
   color: #000000;
}


#ingredienteslist li button{
    left: 90%;
    top: -20%;
    place-self: center;
    width: 3vw;
    height: 3vw;
    min-width: 50px;
    min-height: 50px;
    max-width: 60px;
    max-height: 60px;
    border-radius: 100%;
    font-size: clamp(1rem, 2vw, 2rem);
    position: absolute;

}


.pUnity{
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: clamp(1rem, 1.6vw, 2rem);
    grid-column-start: 2;
    grid-column-end: 2;
    margin: auto;
    color: #f7f2e7;
    display: grid;
    place-items: center;
    height: 100%;
    padding: 5%;
    background-color: #6D765D;
    border-radius: 0.2vw;
}
.ingLabel ul li p:first-child{
    padding: 0.5vw;
    padding-top: 0;
    padding-left: 0;
    text-align: center;
    color: #FAF3E0;
    font-size: clamp(1rem, 3vw, 3rem);
    border-radius: 0.2vw;
    place-self: center;
    max-height: 4vw;
}
.descripcionLabel{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    width: 100%;
}

input{
    outline: none;
}
.descripcionLabel input{
    background-color: #4E4E4E;
    color: #fff;
    border: none;
    justify-self: center;
    border-radius: 0.3vw;
    width: 95%;
    padding-left: 2vw;
    box-sizing: border-box;
}

.descripcionLabel p{
    background-color: #FAF3E0;
    position: absolute;
    padding: 1vw;
    top: -2vw;
    border-radius: 0.3vw;
}





.err{
    transition: all 0.4s;
    display: grid;
    height: 20vw;
    width: fit-content;
   
    opacity: 0;
    flex: 0;
}
.err ul li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: clamp(0.4rem, 1.2vw, 2rem);
}

.err ul{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: grid;
    padding: 5%;    
    border-radius: 0.5vw;
    box-sizing: content-box;
    gap: 2%;
    height: fit-content;
    width: fit-content;
    place-content: center;

    margin: auto;
}

.err ul li p{
    width: 100%;
    height: fit-content;
    font-weight: bold;
    margin: auto;

}
.errImg{
    width: 3vw;
    height: 3vw;
}



.imgPrincipalLabel{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    cursor: pointer;

}
.imgPrincipalContainer{
    width: 95%;
    height: 100%;
    display: grid;
    gap: 1vw;
    grid-template-rows: 4vw auto;
    place-items: center;
    margin: auto;
}


.imgPrincipalContainer input{
    display: none;
}
.imgPrincipalContainer__text div{
    position: absolute;
}
.imgPrincipalContainer__text{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #4E4E4E;
    color: #FFFFFF;
    display: grid;
    border-radius: 0.3vw;
    place-items: center;
    font-weight: 100;
    padding: 0.5vw;
    padding-left: 2vw;
    font-size: clamp(1rem, 2vw, 2rem);
}
.imgPrincipalLabel p{
    z-index: 100;
    background-color: #FAF3E0;
    position: absolute;
    padding: 1vw;
    top: -2vw;
    border-radius: 0.3vw;
}
.imgPrincipalContainer__text div{
    left: 88%;
    top: 10%;
    height: 3vw;
    background-color: #FAF3E0;
    color: #000000;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 3rem);
    padding: 0;
    width: 3vw;
    border-radius: 0.5vw;
}
#previewPrincipal{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    display: grid;
    place-items: center;
}

.imgPrincipalPreview{
    width: 90%;
    height: 100%;
    max-width: 20vw;
    max-height: 20vw;
    margin: auto;
    object-fit: cover;
    border-radius: 0.3vw;
}



.steps__title{
    z-index: 100;
    background-color: #FAF3E0;
    position: absolute;
    padding: 1vw;
    top: -2vw;
    border-radius: 0.3vw;
}

.button_step{
    top: -2vw;
    left: 92%;
    background-color: #FAF3E0;
    position: absolute;
    padding: 1vw;
    border: none;
    border-radius: 0.3vw;
}
.steps{
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    cursor: pointer;

}
.steps__list{
    background-color: #4E4E4E;
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 1.5vw;
    border-radius: 0.5vw;
    display: grid;
     gap: 1vw;
}

.steps__list li{
    list-style: none;
    background-color: #929292;
    display: grid;
    grid-template-columns: 10% 1fr;
    min-height: 10vw;
    gap: 1vw;
    padding: 1vw;
}

.steps__list li p{
    padding: 0.5vw;
    padding-top: 0;
    padding-left: 0;
    text-align: center;
    color: #FAF3E0;
    font-size: clamp(1rem, 3vw, 3rem);
    border-radius: 0.2vw;
    place-self: center;
    max-height: 4vw;
}   

.steps__list li input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.2vw;
    background-color: #FAF3E0;

    color: #000000;
    padding: 2vw;
    max-height: 4vw;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.steps__list li input[type="file"]{
    background: #f7f2e7;
    color: #222;
    border: none;
    border-radius: 6px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    grid-column-start: 1;
    grid-column-end: 3;
}

.steps__list li input[type="file"]::file-selector-button:hover {
  background: #e57373;
  color: #fff;
}
.steps__list li input[type="file"] {
  color: #222;
  font-family: inherit;
  font-size: 1rem;
}
.steps__list li textarea{
    width: 100%;
    height: 10vw;
    border: none;
    border-radius: 0.2vw;
    background-color: #FAF3E0;
    color: #000000;
    padding: 1vw;
    max-height: 20vw;
    font-size: clamp(1rem, 1vw, 1rem);
    resize: none;
    grid-column-start: 1;
    grid-column-end: 3;
}





.main__aside{
    left: -40%;
    height: 100%;
    top: 0%;
    position: fixed;
    background-color: #78806C;
    display: grid;
    grid-template-rows: 0.5fr 60%;
    border-right: 0.5vw solid #6D765D;
    transition: all 0.4s;
    gap: 5%;
    grid-template-columns: 1fr;
    width: 30%;
    padding-top: 2%;
    box-sizing: border-box;
    justify-items: center;
    padding-bottom: 2%;
    z-index: 120;

}

.main__aside section{
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
    gap: 5%;
    grid-template-rows: 10% 90%;
}
.main__aside input{
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 0.2vw;
    background-color: #FAF3E0;
    color: #000000;
    padding: 2vw;
    max-height: 4vw;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.main__aside div{
    margin: 0;
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 0.2vw;
    background-color: #FAF3E0;
    color: #000000;
    display: grid;
    padding: 1%;
    overflow-y: auto;
    font-size: clamp(1rem, 1.2vw, 2rem);
    gap: 2%;
    transition: all 0.2s;
}

.main__aside div p:hover{
    cursor: pointer;
    background-color: #A3B18A;
}
.aside--title{
    font-family: "FuenteStyle";
    font-size: clamp(0.2rem, 5vw, 16rem);
    background-color: #A3B18A;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    font-weight: 100;
    color: #FAF3E0;
}
.asideLeft{
    left: 0%;
}
.aside--end{
    left: -50%;
}

.mainS{
    grid-template-rows: 50%;
}
