
@font-face {
    font-family: 'FuenteStyle';
    src: url('../style/font/MervaleScript-Regular.otf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'FuenteStyleII';
    src: url('../style/font/Karla-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
}


body{
    background-color: #616161;
    display: grid;
    grid-template-rows: 100% auto;
    padding: 1vw;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.header{
    top: 0;
    left: 0;

    position: absolute;
}

.main{
    padding: 0.8vw;
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 85%;
}
.main__section{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 5%;
    grid-template-rows: 14vw auto;
    justify-items: center;

}
.section__container{
    background-color: #FAF3E0;
    width: 50%;
    height: 100%;
    border-radius: 0.5vw;
    display: grid;
    grid-template-rows: 80% 20%;
    text-align: center;
    place-items: center;
    padding: 1.5vw;
    box-sizing: border-box;
    max-width: 500px;
    max-height: 220px;
}
.container__title{
    width: 100%;
    height: 100%;
    font-family: "FuenteStyle";
    font-size: clamp(1rem, 8vw, 7rem);
    display: grid;
    place-items: center;
    font-weight: 100;
}

.container__subtitle{

    justify-self: start;
    width: 100%;
    height: 100%;
    font-size: clamp(1rem, 1.8vw, 3rem);
}

.section__recipesFav{
    width: 100%;
    height: 100%;
}

.recipe footer {
    position: absolute;
    top: 82%;
    left:0%;
    display: grid;
    grid-template-columns: auto 15% 15%;
    grid-template-rows: 4vw;
    gap: 1vw;
    border-radius: 0.5vw;
   
    width:100%;
    height: fit-content;
    text-align: center;
    display: grid;
    justify-content: start;
    color: #333333;
    font-family: 'FuenteStyle';
    padding: 0;
 padding-left: 0.5vw;
    background-color: transparent;
}

.recipe footer p{
    
    background-color: #FAF3E0;
    margin: 0;
    
    padding: 0.1vw 1vw;
    font-family: "FuenteStyle";
    display: grid;
    place-items: center;
    width: fit-content;
    border-radius: 0.5vw;
    font-size: clamp(0.2rem, 2.2vw, 7rem);

}
.recipe footer div{
    
    cursor: pointer;
    background-color: #FAF3E0;
    display: grid;
    place-items: center;
    border-radius: 0.2vw;
    padding: 0.4vw;
    border: none;
    transition: all 0.2s;
}
.recipe footer div img{
    width: 2vw;
    display: grid;
    place-items: center;
}
.recipe footer div:hover{
    transform: scale(1.1,1.1);
}

#modAdd{
    left: 80%;
}