
.body{
    display: grid;
    grid-template-rows: 10% 90% 15vw;
    background-color: #4E4E4E;
    gap: 5%;

}

.main{
    display: grid;
    width: 100%;
    height: 100%;

}
.main__section{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2%;
    gap: 1vw;
}   

.main__section--form{
    flex: 1;
    position: relative;
    width: 60%;
    max-width: 40vw;
    max-height: 32vw;
    box-sizing: border-box;
    height: 100%;
    background-color: #A6A6A6;
    border-radius: 0.5vw;
    display: grid;
    gap: 4%;
    grid-template-rows: 8% 28% 28% 20%; 
    padding: 2.5%;
    padding-top: 5%;
    grid-template-columns: 1fr;
    place-content: center;
    transition: all 0.4s;
}

.form__title{
    border-radius: 0.5vw;
    padding: 0.5vw;
    box-sizing: border-box;
    width: 70%;
    background-color: #FAF3E0;
    position: absolute;
    margin: 0;
    left: 15%;
    top: -4vw;
    text-align: center;
    font-family: "FuenteStyle";
    font-size: clamp(0.5rem, 6vw, 25rem);
    font-weight: 100;
}

.form__hr{
    width: 90%;
    height: 0.3vw;
    border-radius: 5vw;
    border: none;
    background-color: #000000b0;
    padding: 0;
}


.form__label{
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 80%;
    place-content: center;
    grid-template-columns: 90%;
    height: 100%;
}

.label__input::placeholder{
    color: #FFFFFF;
}
.label__title{
    background-color: #FAF3E0;
    position: absolute;
    padding: 0.6vw;
    z-index: 2;
    margin: 0;
    top: -15%;
    left: 0%;
    border-radius: 0.2vw;
    font-size: clamp(0.1rem, 1vw, 5rem);
    transition: all 0.2s;
}

.form__button{
    width: 90%;
    margin: auto;
    height: 100%;
    display: block;
    border-radius: 0.5vw;
    border: none;
    cursor: pointer;
    font-size: clamp(0.2rem, 2vw, 8rem);
    background-color: #FAF3E0;
    transition: all 0.2s;
}
.form__button:hover{
    transform: scale(1.02);
    background-color: #333333d2;
    
    color: #FFFFFF;
}

.form__button:active{
    transform: scale(0.95);
    background-color: #333333;
    
    color: #FFFFFF;
}
.label__input{
    cursor: pointer;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    background-color: #4E4E4E;
    color: #FFFFFF;
    border-radius: 0.2vw;
    border: none;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 5%;
    font-size: clamp(0.2rem, 1vw, 8rem);
    transition: all 0.2s;
    z-index: 1;
}
input{
    cursor: pointer;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    background-color: #4E4E4E;
    color: #FFFFFF;
    border-radius: 0.2vw;
    border: none;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 5%;
    font-size: clamp(0.2rem, 1vw, 8rem);
    transition: all 0.2s;
    z-index: 1;
}

  

.form__label{
    transition: all 0.2s;
}


.label__input:hover {
    transform: scale(1.02);
    background-color: #333333;
}
.label__input:focus{
    transform: scale(1.02);
    color: #c6f377;
    background-color: #333333;
}
.form__p{
    margin: 0;
    justify-self: center;
    height: 100%;
    width: fit-content;
    font-size: clamp(0.2rem, 1.2vw, 8rem);
    cursor:default;
}

.form__p a{
    position: relative;
    text-decoration: none;
    color: #e4f8c1;
    transition: all 0.2s;
}

.form__p a::after {
    content: "";
    top: 100%;
    left: 0;
    position: absolute;
    width: 0%;
    height: 0.2vw;
    border-radius: 0.5vw;
    background-color: #c6f377;
    transition: all 0.3s ease;
}

.form__p a:hover::after{
    width: 100%;
}



.err{
    transition: all 0.4s;
    display: grid;
    height: 20vw;
    width: fit-content;
    opacity: 0;
    flex: 0;
}
.err ul li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: clamp(0.4rem, 1vw, 1.5rem);
}

.err ul{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: grid;
    padding: 5%;    
    border-radius: 0.5vw;
    box-sizing: content-box;
    gap: 2%;
    height: fit-content;
    width: fit-content;
    place-content: center;
    margin: auto;
}

.err ul li p{
    width: 100%;
    height: fit-content;
    font-weight: bold;

}
.errImg{
    width: 3vw;
    height: 3vw;
}

@keyframes alertIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.alert-anim {
    z-index: 100;
    animation: alertIn 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}