

body{
    background-color: #4E4E4E;
    display: grid;
    grid-template-rows: 10% auto;
    
}

*{
    user-select: none;
}
.main{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

.main__section{
    display: flex;
    justify-content: center;
    padding: 1vw;
    gap: 2vw;
    color: #FFFFFF;
    width: 90%;
    margin: auto;
}

.section__imgContainer img{
    width: 20vw;
    border: 0.5vw solid #A3B18A;
    border-radius: 100%;
}
.section__imgContainer{
    display: grid;
    place-content: center;
    flex: 1;
    text-align: center;
    font-size: clamp(1rem, 3vw, 3rem);
}
.section__configContainer{
    color: #FFFFFF;
    display: grid;
    flex: 2;
    gap: 2%;
    height: 100%;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    grid-template-rows: 15% 18% 15% 18% 15%;
}
.section__configContainer h2{
    font-weight: 200;
    width: 100%;
    height: 100%;
 
}

.configContainer__div{
    padding: 2vw;
    background-color: #fff;
    height: 6vw;
    border: none;
    color:#4E4E4E;
    border-radius: 0.5vw;
    transition: all 0.2s;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 95% 5%;
    place-content: center;
    grid-template-rows: 100%;
    justify-content: center;
}

.configContainer__div input{
    outline: none;
    height: 100%;
    width: 100%;
    display: grid;
    font-size: clamp(1rem, 2vw, 2.5rem);
    border: none;
 
}

.configContainer__btn{
    border-radius: 0.5vw;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: clamp(1rem, 1.5vw, 2.5rem);
    height: 100%;
    transition: all 0.2s;
    margin: auto;
    margin-top: 5%;
}

.configContainer__btn:hover{
    transform: scale(1.02,1.02);
}

.configContainer__p:hover{
    transform: scale(1.02,1.02);
}

.configContainer__img{
    width: 100%;
    height: 100%;
}